@font-face {
  font-family: title;
  src: url('./fonts/SanFranciscoDisplay-Medium.otf')
}

@font-face {
  font-family: sections;
  src: url('./fonts/SanFranciscoDisplay-Light.otf')
}

@font-face {
  font-family: sectionsL;
  src: url('./fonts/SanFranciscoDisplay-Ultralight.otf')
}

body {
  padding:0;
  margin: 0;
}

.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color : white;
}

.navigation {
  font-family: title;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 155px;
  width: 100%;
  font-size: 18px;
}

.navContent {
  width: 100%;
  display:flex;
  justify-content: space-around;
} 

.navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
}

.navigation ul a{
  color:lightslategray;
  transition: 1s;
  text-decoration: none;
}

.navigation ul a:hover{
  color:#a1e14d;
}

.navSocial {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.address {
  flex: 0 1 450px;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
}

.address span {
  font-size: 11px;
  color:#999a9b;
}

.socialContent {
  width: 100%;  
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.socialContent p{
  font-family: sectionL;
  font-size: 11px;
  color: #999a9b;
}

.socialIcons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  transition: 1s;
  color:white;
}

.socialIcons span:hover {
  color:black;
}



.circle:before {
  content:"";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #dfe0e0;
  border-radius: 50%;
  transition:1s;
}

.circle:hover:before {
  background-color:#a1e14d;
  color:white;
}

.portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: title;
  color: white;
  filter: contrast(.7);
  background-color: lightgrey;
  background: url('./img/smile2.jpg');
  background-size: cover;
  background-position: center center;
  height: 550px;
  width: 100%;
}

.mainContent{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 600px;
}

.infoContainer {
  border:1px solid red;
  display: flex;
  flex-direction: column;
  font-family: sectionsL;
  color: #303334;
  width: 90%;
  height: 400px;
}

.infoSection{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color : #65b7ee;
  color:white;
}

.infoContent{
  flex: 0 1 100%;
  margin: 0 30px 0 30px;
}

.infoContent h2 {
  font-family: sections;
  font-size: 60px;
}

.events {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color : #b0e958;
  color:white;
} 

.howTo {
  width: 100%;
  padding: 80px 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color : white;
  color:black;
}

.maps {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color : yellow;
  color:black;
}

.footer{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sectionsL;
}

.footerInfoContent {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;;
} 

.footerInfo{
  flex: 0 1 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
}